{{define "base"}}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <!-- Viewport -->
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        >
        <!-- Load Missing.CSS -->
        <link rel="stylesheet" href="/static/css/missing.css" />
        <link rel="stylesheet" href="/static/css/gavia.css" />
        <!-- Favicon and PWA settings -->
        <link rel="icon" type="image/png" href="/static/img/logo.png">
        <title>Gavia</title>
    </head>
    <body class="sidebar-layout" hx-boost="true">
        <header>
            <img height="96px" width="96px" src="/static/img/logo.png">
            <div class="<h1>">Gavia</div>
            <nav>
                <ul role="list">
                    <li>
                        <a href="/dashboard" aria-current="page">Dashboard</a>
                    </li>
                    <li>
                        <p>
                            <b>Modules</b>
                        </p>
                        <ul role="list" class="margin">
                            <li>
                                <a href="/providers">Providers</a>
                            </li>
                            <li>
                                <a href="/locations">Locations</a>
                            </li>
                            <li>
                                <a href="/os">Operating Systems</a>
                            </li>
                            <li>
                                <a href="/ips">IP Addresses</a>
                            </li>
                            <li>
                                <a href="/dns">DNS Records</a>
                            </li>
                            <li>
                                <a href="/labels">Labels</a>
                            </li>
                            <li>
                                <a href="/domains">Domains</a>
                            </li>
                            <li>
                                <a href="/hosting">Hosting</a>
                            </li>
                            <li>
                                <a href="/servers">Servers</a>
                            </li>
                            <li>
                                <a href="/subs">Subscriptions</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>
                            <b>About</b>
                        </p>
                        <ul role="list" class="margin">
                            <li>
                                <a href="/licenses">Free Software Licenses</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>
                            <a
                                href="/demos"
                                class="&lt;button&gt; width:100%"
                            >
                                Account Settings
                            </a>
                        </strong>
                    </li>
                    <li>
                        <strong>
                            <a
                                href="/demos"
                                class="&lt;button&gt; width:100%"
                            >
                                App Settings
                            </a>
                        </strong>
                    </li>
                    <li>
                        <strong>
                            <a
                                href="/demos"
                                class="&lt;button&gt; width:100%"
                            >
                                Logout
                            </a>
                        </strong>
                    </li>
                </ul>
            </nav>
        </header>
        <div>
            <main>
                {{template "content" .}}
            </main>
            {{template "footer" .FooterData}}
        </div>
        <!-- Load HTMX & HyperScript -->
        <script defer src="/static/js/htmx.js"></script>
        <script defer src="/static/js/hyperscript.js"></script>
    </body>
</html>
{{end}}
