{{define "footer"}} {{if .Visible}}
<footer class="gavia-footer">
    <p class="crowded flex-row flex-wrap:wrap align-items:center gavia-footer-meta">
        <chip class="ok">Gavia {{.AppVersion}}</chip>
        <span>Page loaded in <strong>{{.RenderTime}}</strong></span>
        <a href="https://codeberg.org/urutau-ltd/aile">Aile {{.AileVersion}}</a>
        <chip
            class="info"
            _="on pointerdown
  repeat until event pointerup from the document
    set rand to Math.random() * 360
    transition
      *background-color
      to `hsl($rand 100% 90%)`
      over 250ms
  end
  transition *background-color to initial"
        >
            Go {{.GoVersion}}
        </chip>
    </p>
</footer>
{{end}} {{end}}
