{{define "content"}}
<section class="gavia-page fullbleed padding">
    <article class="box flow-gap">
        <h2>JavaScript license information</h2>
        <p>
            This table is provided for LibreJS and for anyone who needs
            machine-readable licensing and source references for the JavaScript
            files loaded by Gavia.
        </p>

        <table id="jslicense-labels1">
            <thead>
                <tr>
                    <th scope="col">Script</th>
                    <th scope="col">License</th>
                    <th scope="col">Source</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="/static/js/htmx.js">/static/js/htmx.js</a></td>
                    <td>
                        <a href="https://opensource.org/license/0bsd"
                        >BSD-0-Clause</a>
                    </td>
                    <td>
                        <a
                            href="https://github.com/bigskysoftware/htmx/archive/refs/tags/v2.0.8.tar.gz"
                        >htmx v2.0.8 source archive</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/static/js/hyperscript.js"
                        >/static/js/hyperscript.js</a>
                    </td>
                    <td>
                        <a href="https://opensource.org/license/0bsd"
                        >BSD-0-Clause</a>
                    </td>
                    <td>
                        <a
                            href="https://github.com/bigskysoftware/_hyperscript/archive/refs/tags/v0.9.14.tar.gz"
                        >_hyperscript v0.9.14 source archive</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/static/js/chartjs.js"
                        >/static/js/chartjs.js</a>
                    </td>
                    <td>
                        <a href="http://www.jclark.com/xml/copying.txt"
                        >Expat</a>
                    </td>
                    <td>
                        <a
                            href="https://github.com/chartjs/Chart.js/archive/refs/tags/v4.5.0.tar.gz"
                        >Chart.js v4.5.0 source archive</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/static/js/app-settings.js"
                        >/static/js/app-settings.js</a>
                    </td>
                    <td>
                        <a href="http://www.gnu.org/licenses/agpl-3.0.html"
                        >AGPL-3.0-or-later</a>
                    </td>
                    <td>
                        <a href="/static/js/app-settings.js"
                        >/static/js/app-settings.js</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/static/js/missing-19.js"
                        >/static/js/missing-19.js</a>
                    </td>
                    <td>
                        <a href="http://www.freebsd.org/copyright/freebsd-license.html"
                        >BSD-2-Clause</a>
                    </td>
                    <td>
                        <a
                            href="https://github.com/bigskysoftware/missing/archive/refs/tags/v1.2.0.tar.gz"
                        >Missing.css v1.2.0 source archive</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/static/js/missing-tabs.js"
                        >/static/js/missing-tabs.js</a>
                    </td>
                    <td>
                        <a href="http://www.freebsd.org/copyright/freebsd-license.html"
                        >BSD-2-Clause</a>
                    </td>
                    <td>
                        <a
                            href="https://github.com/bigskysoftware/missing/archive/refs/tags/v1.2.0.tar.gz"
                        >Missing.css v1.2.0 source archive</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/static/js/dashboard.js"
                        >/static/js/dashboard.js</a>
                    </td>
                    <td>
                        <a href="http://www.gnu.org/licenses/agpl-3.0.html"
                        >AGPL-3.0-or-later</a>
                    </td>
                    <td>
                        <a href="/static/js/dashboard.js"
                        >/static/js/dashboard.js</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/static/js/uptime.js">/static/js/uptime.js</a>
                    </td>
                    <td>
                        <a href="http://www.gnu.org/licenses/agpl-3.0.html"
                        >AGPL-3.0-or-later</a>
                    </td>
                    <td>
                        <a href="/static/js/uptime.js">/static/js/uptime.js</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </article>
</section>
{{end}}
